body{
    background-image: url(body-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.centre-div{
    background-image: url(div-bg.jpg);
    width: 40%;
    height: 350px;
    color: #bb00ff;
    padding: 25px;
    margin-top: 5%;
    border-radius: 10px;
	font-family: 'Lucida Sans';
}

.my-text{
	cursor: default;
	font-size: 50px;	
    
}

a{
    color: #ffffff;
    cursor:pointer;
	font-weight: bolder;
	text-decoration:underline;
	font-size: 50px;	
    text-decoration-color: #bb00ff;
}
a:hover{	
	text-decoration: none;
	background-color: #ffffff;
	color:#bb00ff;
}
a:active{
	background-image:url(body-bg.jpg);
	color:#ffffff;
}
a:visited{
	text-decoration-color: #ffc107ff;
}